.main-container {
  min-height: 100vh;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  padding: 4rem;     
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui;
}
/* Estilos generales para todos los botones */
.btn-crud, .btn-agregar, .btn-eliminar,.btn-busqueda {
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-crud {
    background-color: #007bff; /* Azul */
}

.btn-agregar {
    background-color: #d5a60d; /* Naranja oscuro */
    color: #ffffff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
}

.btn-agregar:hover {
    background-color: #c1850f; /* Más oscuro al pasar el mouse */
    transform: scale(1.05); /* Pequeño aumento de tamaño */
}

.btn-eliminar {
    background-color: #e0350a; /* Rojo */
    color: #ffffff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
}

.btn-eliminar:hover {
    background-color: #991f05; /* Más oscuro al pasar el mouse */
    transform: scale(1.05); /* Pequeño aumento de tamaño */
}

.btn-busqueda {
    background-color: #d6d6d5; /* Rojo */
}

.btn-crud:hover{
    background-color: #0056b3; /* Azul más oscuro */
}

.bg-navbar-sec{
    background-color: #83E171;
}
.bg-select-01{
    background-color: #4BC789;
}
.bg-select-02{
    background-color: #96ECED;
}


/* navbar-colors.css */

.bg-navbar-prin {
    background-color: #093144; /* Ejemplo de color base del navbar */
  }
  
  .bg-green-600 {
    background-color: #b37013 !important;
  }
  
  .bg-green-700 {
    background-color: #962b11 !important;
  }
  
  .bg-green-800 {
    background-color: #166534 !important;
  }
  
  .text-white {
    color: #ffffff !important;
  }
  
  .text-gray-300 {
    color: #adb0b5 !important;
  }
  
  .hover\:bg-gray-700:hover {
    background-color: #514f37 !important;
  }
  
  .hover\:bg-green-700:hover {
    background-color: #b13d20 !important;
  }
  
  .hover\:bg-green-800:hover {
    background-color: #8b311b !important;
  }
  
  .hover\:text-white:hover {
    color: #ffffff !important;
  }